@font-face {
    font-family: "U8";
    src: url("Fonts/U8-Regular.woff") format('woff');
}

@font-face {
    font-family: "U8-alt";
    src: url("Fonts/U8-Alternate.woff") format('woff');
}


.body {
    background-color: black;
    color: white;
    font-family: 'U8-alt', "Comic Sans MS",Helvetica,Arial,sans-serif;
    font-weight: 100;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    max-height: fit-content;
}

.header {
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-bottom: 10px;
    max-width: fit-content;
}

.Logo_Header {
    display: block;
    width:110px;
    height:80px;
}

.intro_blurb {
    font-size: 35px;
    margin-left: 60px;
}

.main {
    background-color: #ff6666;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    height: 60vh;
}

.main_header {
    display: flex;
    flex-direction: row;
}

.title {
    flex-grow: 1;
}

.backButton {
    display: block;
    width:40px;
    height:40px;
    padding-top: 15px;
}

.hr {
    border-color: white;
    background-color: white;
    height: 7px;
    border: solid;
    margin: 0px;
    padding: 0px;
}

.vr {
    border-left: 1px;
    border: solid;
    height: auto;
}

.footer {
    display: flex;
    flex-direction: column;
}

.media {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.GithubLogo {
    display: block;
    width:50px;
    height:50px;
    padding-left: 25px;
    padding-right: 12.5px;
}

.LinkedInLogo {
    display: block;
    width:50px;
    height:50px;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.EmailIcon {
    display: block;
    width:50px;
    height:50px;
    padding-left: 12.5px;
    padding-right: 25px;
}